@include font-face('montserrat-regular', '../assets/fonts/Montserrat-Regular');

body, html {
	font-family: montserrat-regular, sans-serif;
	font-size: font-size(default, px);
}

h1 {
	@include font-size(default, px);
	line-height: 122%;
	margin: 0;
	padding: 0;
}

h2 {
	@include font-size(smaller, px);
	line-height: 122%;
	margin: 0;
	padding: 0;
	font-weight: normal;
	
	a {
		text-decoration:none;
		color: $color-orange;
	}
	
	&.ticket-headline {
		color: $color-black;
		@include font-size(bigger, px);
	}
}

p {
	&.ticket-description {
		color: $color-orange;
		@include font-size(smaller, px);
	}
}

.hidden-panel {	
	&-menu {
		&__nav {
			a {
				@include font-size(default, px);
				color: $color-white;
				font-weight: normal;
				text-decoration: none;
			}
		}
	}
}

.content-wrapper {
	.content {
		&-date {
			@include font-size(smaller, px);
			color: $color-black;
			font-weight: normal;
			text-align: center;
			line-height:15px;
		}
	}
}

.ticket-type {					
	span {
		@include font-size(smaller, px);
		color: $color-gray;
	}
}