$color-white: #FFFFFF;
$color-orange: #FF473A;
$color-black: #000000;
$color-lighter-black: #050505;
$color-gray: #D4D4D4;
$color-light-gray: #F4F5F2;

$font-size: (
	px: (
		smaller: 12px,
		default: 18px,
		bigger: 24px,
	)
) !default;